* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.hidden {
    display: none;
}
.background-higher {
    width: 100vw;
    height: 100vh;
  
    background: linear-gradient(to left, #a44, #f44336);
    background-size: 400% 400%; 
    animation: gradient 5s ease-out infinite;
    z-index: 0;
}

.background-lower {
    width: 100vw;
    height: 100vh;
  
    background: linear-gradient(to right, #2196f3, #208);
    background-size: 400% 400%; 
    animation: gradient 5s ease-out infinite;
    z-index: 0;
}

.background-winner {
    width: 100vw;
    height: 100vh;
  
    background: linear-gradient(to right,#ffd632, #ffa, #ffd632);
    background-size: 400% 400%; 
    animation: gradient 15s ease infinite;
    z-index: 0;
}

.background {
    width: 100vw;
    height: 100vh;
  
    background: linear-gradient(to right, #2196f3, #f44336);
    background-size: 400% 400%; 
    animation: gradient 10s ease infinite;
    z-index: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position:0% 50%;
    }
}

.main-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.number-wrapper {
    width: 40vw;
    margin: 0, auto;
}

.number-wrapper-description-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.number-wrapper-description {
    text-align: center;
    font-size: 35px;
    opacity: 0.7;
}

.number-wrapper-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

ul, li {
    list-style: none;
    padding: 0 1rem 0 0;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    scroll-snap-stop: always;   
}

.number-list-container::-webkit-scrollbar {
    display: none;
}

.number-list-container {
    height: 100%;
    width: 100%;
    scroll-padding-left: 1rem;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 1rem 0;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 0 0 1rem;
    scrollbar-width: none;
    cursor: grab;
}

.number {
    margin-left: 45%;
    margin-right: 45%;
}

.number-button {
    height: 100%;
    width: 40%;
    padding: auto;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 26px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.restart-button-container {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

.restart-button {
    text-transform: uppercase;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
    height: 95%;
    width: 95%;
    border: none;
    background: aliceblue;
    opacity: 0.8;
    animation: gradient 5s ease-out infinite;
    background-size: 400% 400%; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.restart-button:hover {
    background-image: linear-gradient(to left, #2196f3, #f44336);
    animation: gradient 1s ease infinite;
}


@media only screen and (min-width: 768px){
    .title {
        font-size: 60px;
        margin-bottom: 100px;
    }

    .number-wrapper-description {
        font-size: 36px;
    }

    .number-button {
        font-size: 46px;
    }

    .restart-button-container {
        margin-top: 80px;
    }

    .restart-button {
        font-size: 60px;
    }
}
@media only screen and (min-width: 1200px){
    .title {
        font-size: 80px;
        margin-bottom: 100px;
    }

    .number-wrapper-description {
        font-size: 46px;
    }

    .number-button {
        font-size: 56px;
    }

    .restart-button-container {
        margin-top: 100px;
    }

    .restart-button {
        font-size: 80px;
    }
}  

